body {
	color: #FFFFFF;
	background-color: #222222;
}

.jumbotron {
	background-color: navy;
	color: darkorange;
}

h1 {
	color: #0073E5;
	text-align: center;
}

p {
	text-align: justify;
}

img + p {
	text-align: center;
}


